connection.php
.env
*.log
### Next step.txt
School-Management-System strature.txt
about.html
contact.html
index.html
images/ab.jpg
images/ak.jpg
images/az.jpg
images/dk.jpg
images/dz.jpg
images/id.jpg
images/nj.jpg### Next step.txt
